# avoids recursive tracking of git
.dotfiles

# compiled file from packer for neovim plugins
.config/nvim/plugin/packer_compiled.lua

# lock file from lazy.nvim
.config/nvim/lazy-lock.json

# ignore .zwc files
**/*.zwc

# ignore tmux plugins directory
.tmux/plugins/
